/* Icons modification */

@media only screen and (max-width:600px) {
    .first-icon-row {
        display: block;
    }
    .icon-box {
        width: 60vw;
    }
    #top-image{
        display: block;
    }
    #bottom-image{
        display: none;
    }
    .m-side{
        margin: 0 ;
    }
}
