/* Icons modification */

@media only screen and (max-width:600px) {
    /* Utils functions made for responsive design */
    body {
        margin: 1%;
    }
    .m-def {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .p-def {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .m-top {
        margin-top: 30px;
    }
    .m-bottom {
        margin-bottom: 30px;
    }
    .m-side {
        margin-left: 0;
        margin-right: 0;
    }
    .p-top {
        padding-top: 30px;
    }
    .p-bottom {
        padding-bottom: 30px;
    }
    .footer {
        flex-direction: column;
    }
    .footer-menu {
        margin: 0;
    }
    .footer-menu-2 {
        margin: 0;
    }
    .footer-contact {
        margin: auto;
        width: 100%;
    }
    .footer-social {
        margin: 0;
    }
    .footer-social div {
        margin: 0;
        display: flex;
    }
    /* Features icon box made responsive */
    .first-icon-row {
        display: block;
    }
    .icon-box {
        width: 60vw;
    }
    .second-icon-row {
        flex-wrap: wrap;
    }
    /* Page elements removed in responsive design */
    .branch2 {
        display: none;
    }
    #top-image {
        display: block;
    }
    #bottom-image {
        display: none;
    }
    .branch1 {
        display: none;
    }
    .rainbow {
        display: none;
    }
    /* Homepage Modifications */
    .slider {
        background: none;
    }
    .home-bg {
        background: none !important;
    }
    /* Store page Modifications */
    .search {
        margin: 0 1vw;
    }
    .prod-cards {
        flex-direction: column;
    }
    .bg-image {
        background-image: none !important;
    }
    .slider {
        height: 64%;
        right: -33%;
    }
    .slider-content {
        top: 10%;
        left: -30%;
    }
    .testimonial-slider {
        top: 5%;
        height: 40vh;
    }

    /* Contact Us Page Modifications */

    .contact-main {
        flex-direction: column;
    }

    .contact-main-left {
        width: auto;
        margin: auto
    }
    .contact-main-right {
        width: auto;
        margin: auto
    }

    .left2 {
        flex-direction: column;
    }

    .left-content {
        margin: auto;
    }

    .fill {
        display: none;
    }

    /* Internal Pages Modifications */

    .internal-header {
        flex-direction: column-reverse;
        width: 100vw;
    }

    .header-top {
        margin-top: 8%;
        margin-bottom: 43%;
    }

    .internal-body{
        flex-direction: column;
    }
    .side1, .side2{
        width: auto;
    }

    .method img {
        width: 100vw;
    }
}