@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat-Bold', 'sans-serif';
    overflow-x: hidden;
}


/* 
.body {
    margin-top: 15vh;
} */


/* -------------------Navigation Bar Starts Here----------------------- */

header {
    height: auto;
    width: 100%;
    float: left;
    background: #ffffff;
    padding: 0 20px;
    color: rgb(0, 0, 0);
    z-index: 2;
    position: relative;
}

.brand-logo {
    max-width: 75px;
    float: left;
    padding: 14px 0px;
}

.brand-logo img {
    max-width: 100%;
}

.navigation {
    margin: 0px;
    float: right;
    margin-right: 150px;
}

.navigation li {
    list-style: none;
    float: left;
}

.navigation li a {
    color: rgb(8, 8, 8);
    padding: 28px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    text-decoration: none;
}

.navigation li a i {
    width: 100%;
    font-size: 20px;
    margin-bottom: 7px;
}

.show-menu-btn,
.hide-menu-btn {
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.show-menu-btn {
    margin: 0px;
    float: right;
}

.show-menu-btn i {
    line-height: 100px;
}

.navigation a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
    color: #00ff0a;
}

#toggle-btn {
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}


/*-- Responsive CSS --*/

@media screen and (max-width:767px) {
    .show-menu-btn,
    .hide-menu-btn {
        display: block;
    }
    .navigation {
        position: relative;
        width: 100%;
        height: 100vh;
        background: #ffffff;
        top: -100%;
        left: 0;
        padding: 50px 0px;
        transition: 1s;
    }
    .navigation li {
        width: 100%;
    }
    .navigation li a {
        padding: 15px 15px;
        text-align: left;
    }
    .navigation li a i {
        width: auto;
        font-size: 20px;
    }
    .hide-menu-btn {
        position: absolute;
        top: 15px;
        right: 20px;
    }
    #toggle-btn:checked~nav .navigation {
        top: 0px;
    }
}

.logo {
    width: 100%;
    height: auto;
    max-width: 52px;
}


/* Slider Starts Here */

.slider-bg {
    background-size: contain;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
    background-position: right;
}

.home {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.home .slide {
    height: 100vh;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    background-size: cover;
    background-position: right;
    z-index: 1;
    display: flex;
    animation: slide 2s ease;
}

.home .slide .active {
    display: flex;
}

@keyframes slide {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.containers {
    max-width: 1178px;
    margin: auto;
    flex-grow: 1;
    justify-content: left;
}

.home .caption {
    width: 50%;
}

.home .slide .caption .active h2 {
    display: flex;
}

.home .caption h2 {
    margin: 0;
    font-size: 35px;
    color: #333333;
    font-weight: 700;
    font-family: 'Montserrat-bold', 'sans-serif';
}

.home .caption p {
    margin: 0;
    color: #333333;
    font-size: 20px;
    font-family: 'Montserrat-medium', 'sans-serif';
}


/* Slider Ends Here  */


/* ---------------------------------------About Us Page Starts Here------------------------------------- */

.about-top {
    padding-top: 55px;
}


/* .about-top .row {
    margin-top: 55px;
    margin-left: 30px;
} */

.about-top .about-text {
    margin-top: 20vh;
    justify-content: center;
    align-items: center;
}

.about-top .about-text h3 {
    font-size: 50px;
    font-weight: 700;
}

.about-top .about-text p {
    font-size: 25px;
    font-weight: 500;
}

.about-top img {
    height: 90vh;
    width: 100%;
}

.about-background {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center top;
}

.about-background img {
    right: -35vw;
    top: -136px;
    position: absolute;
    height: 50%;
    width: 80%;
}

.about-background p {
    font-size: 25px;
    font-weight: 500;
}

.about-background h3 {
    font-size: 35px;
    font-weight: 600;
}

.about-vision {
    position: relative;
    top: 80px;
}

.about-vision h3 {
    font-size: 35px;
    font-weight: 600;
}

.about-vision p {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 500;
}

.about-vision img {
    position: absolute;
    top: 30vh;
    left: -47vw;
    height: 100%;
    width: 100%;
    transform: rotate(32deg);
}

.about-method h3 {
    font-size: 35px;
    font-weight: 600;
    margin-top: 20%;
}

.about-method ul {
    list-style-image: url('media/final-asset/star-1.svg');
    list-style-position: center;
}

.about-method p {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 500;
}

.about-tm {
    background-color: #e8edf7;
    position: relative;
    padding: 10px 20px;
}

.about-tm h3 {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
}

.about-tm h5 {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Montserrat-SemiBold', 'sans-serif';
}

.about-tm .img-lable {
    position: relative;
    top: 4.5%;
    left: 0;
    background-color: #699E3C;
    width: 40%;
    padding: 5px 15px;
    color: #fff;
    font-family: 'Montserrat-Bold', 'sans-serif';
    text-align: center;
    font-weight: 600;
    border-left: solid #699E3C 1px;
    box-shadow: 0px 0px 5px #699E3C;
}

#more {
    display: none;
}