@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat-Bold', 'sans-serif';
    overflow-x: hidden;
}


/*
.body {
    margin-top: 15vh;
} */


/* -------------------Navigation Bar Starts Here----------------------- */

/* Devkant Navbar class  */

@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

		/* #Primary
================================================== */




		/* #Navigation
================================================== */

		.start-header {
			opacity: 1;
			transform: translateY(0);
			padding: 20px 0;
			box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
			-webkit-transition: all 0.3s ease-out;
			transition: all 0.3s ease-out;
		}

		.start-header.scroll-on {
			box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
			padding: 10px 0;
			-webkit-transition: all 0.3s ease-out;
			transition: all 0.3s ease-out;
		}

		.start-header.scroll-on .navbar-brand img {
			height: 24px;
			-webkit-transition: all 0.3s ease-out;
			transition: all 0.3s ease-out;
		}

		.navigation-wrap {
			position: fixed;
			width: 100%;
			top: 0;
			left: 0;
			z-index: 1000;
			-webkit-transition: all 0.3s ease-out;
			transition: all 0.3s ease-out;
		}

		.navbar {
			padding: 0;
		}

		.navbar-brand img {
			height: 28px;
			width: auto;
			display: block;
			filter: brightness(10%);
			-webkit-transition: all 0.3s ease-out;
			transition: all 0.3s ease-out;
		}

		.navbar-toggler {
			float: right;
			border: none;
			padding-right: 0;
		}

		.navbar-toggler:active,
		.navbar-toggler:focus {
			outline: none;
		}

		.navbar-light .navbar-toggler-icon {
			width: 24px;
			height: 17px;
			background-image: none;
			position: relative;
			border-bottom: 1px solid #000;
			transition: all 300ms linear;
		}

		.navbar-light .navbar-toggler-icon:after,
		.navbar-light .navbar-toggler-icon:before {
			width: 24px;
			position: absolute;
			height: 1px;
			background-color: #000;
			top: 0;
			left: 0;
			content: '';
			z-index: 2;
			transition: all 300ms linear;
		}

		.navbar-light .navbar-toggler-icon:after {
			top: 8px;
		}

		.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
			transform: rotate(45deg);
		}

		.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
			transform: translateY(8px) rotate(-45deg);
		}

		.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
			border-color: transparent;
		}

		.nav-link {
			color: #212121 !important;
			font-weight: 500;
			transition: all 200ms linear;
		}

		.nav-item:hover .nav-link {
			color: #8167a9 !important;
		}

		.nav-item.active .nav-link {
			color: #777 !important;
		}

		.nav-link {
			position: relative;
			padding: 5px 0 !important;
			display: inline-block;
		}

		.nav-item:after {
			position: absolute;
			bottom: -5px;
			left: 0;
			width: 100%;
			height: 2px;
			content: '';
			background-color: #8167a9;
			opacity: 0;
			transition: all 200ms linear;
		}

		.nav-item:hover:after {
			bottom: 0;
			opacity: 1;
		}

		.nav-item.active:hover:after {
			opacity: 0;
		}

		.nav-item {
			position: relative;
			transition: all 200ms linear;
		}

		/* #Primary style
================================================== */

		.bg-light {
			background-color: #fff !important;
			transition: all 200ms linear;
		}




		.nav-item .dropdown-menu {
			transform: translate3d(0, 10px, 0);
			visibility: hidden;
			opacity: 0;
			max-height: 0;
			display: block;
			padding: 0;
			margin: 0;
			transition: all 200ms linear;
		}

		.nav-item.show .dropdown-menu {
			opacity: 1;
			visibility: visible;
			max-height: 999px;
			transform: translate3d(0, 0px, 0);
		}

		.dropdown-menu {
			padding: 10px !important;
			margin: 0;
			font-size: 13px;
			letter-spacing: 1px;
			color: #212121;
			background-color: #fcfaff;
			border: none;
			border-radius: 3px;
			box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
			transition: all 200ms linear;
		}

		.dropdown-toggle::after {
			display: none;
		}

		.dropdown-item {
			padding: 3px 15px;
			color: #212121;
			border-radius: 2px;
			transition: all 200ms linear;
		}

		.dropdown-item:hover,
		.dropdown-item:focus {
			color: #fff;
			background-color: rgba(129, 103, 169, .6);
		}

		body.dark {
			color: #fff;
			background-color: #1f2029;
		}

		body.dark .navbar-brand img {
			filter: brightness(100%);
		}

		body.dark h1 {
			color: #fff;
		}

		body.dark h1 span {
			transition-delay: 0ms !important;
		}

		body.dark p {
			color: #fff;
			transition-delay: 0ms !important;
		}

		body.dark .bg-light {
			background-color: #14151a !important;
		}

		body.dark .start-header {
			box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
		}

		body.dark .start-header.scroll-on {
			box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
		}

		body.dark .nav-link {
			color: #fff !important;
		}

		body.dark .nav-item.active .nav-link {
			color: #999 !important;
		}

		body.dark .dropdown-menu {
			color: #fff;
			background-color: #1f2029;
			box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
		}

		body.dark .dropdown-item {
			color: #fff;
		}

		body.dark .navbar-light .navbar-toggler-icon {
			border-bottom: 1px solid #fff;
		}

		body.dark .navbar-light .navbar-toggler-icon:after,
		body.dark .navbar-light .navbar-toggler-icon:before {
			background-color: #fff;
		}

		body.dark .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
			border-color: transparent;
		}



		/* #Media
================================================== */

		@media (max-width: 767px) {
			h1 {
				font-size: 38px;
			}

			.nav-item:after {
				display: none;
			}

			.nav-item::before {
				position: absolute;
				display: block;
				top: 15px;
				left: 0;
				width: 11px;
				height: 1px;
				content: "";
				border: none;
				background-color: #000;
				vertical-align: 0;
			}

			.dropdown-toggle::after {
				position: absolute;
				display: block;
				top: 10px;
				left: -23px;
				width: 1px;
				height: 11px;
				content: "";
				border: none;
				background-color: #000;
				vertical-align: 0;
				transition: all 200ms linear;
			}

			.dropdown-toggle[aria-expanded="true"]::after {
				transform: rotate(90deg);
				opacity: 0;
			}

			.dropdown-menu {
				padding: 0 !important;
				background-color: transparent;
				box-shadow: none;
				transition: all 200ms linear;
			}

			.dropdown-toggle[aria-expanded="true"]+.dropdown-menu {
				margin-top: 10px !important;
				margin-bottom: 20px !important;
			}

			body.dark .nav-item::before {
				background-color: #fff;
			}

			body.dark .dropdown-toggle::after {
				background-color: #fff;
			}

			body.dark .dropdown-menu {
				background-color: transparent;
				box-shadow: none;
			}
		}

		/* #Link to page
================================================== */

		.logo {
			position: absolute;
			bottom: 30px;
			right: 30px;
			display: block;
			z-index: 100;
			transition: all 250ms linear;
		}

		.logo img {
			height: 26px;
			width: auto;
			display: block;
			filter: brightness(10%);
			transition: all 250ms linear;
		}

		body.dark .logo img {
			filter: brightness(100%);
		}
/* Devkant navbar ends  */





header {
    height: auto;
    width: 100%;
    float: left;
    background: #ffffff;
    padding: 0 20px;
    color: rgb(0, 0, 0);
    position: relative;
}

.brand-logo {
    max-width: 75px;
    float: left;
    padding: 14px 0px;
}

.brand-logo img {
    max-width: 100%;
}

.navigation {
    margin: 0px;
    float: right;
    margin-right: 150px;
}

.navigation li {
    list-style: none;
    float: left;
}

.navigation li a {
    color: rgb(8, 8, 8);
    padding: 28px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    text-decoration: none;
}

.navigation li a i {
    width: 100%;
    font-size: 20px;
    margin-bottom: 7px;
}

.show-menu-btn,
.hide-menu-btn {
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.show-menu-btn {
    margin: 0px;
    float: right;
}

.show-menu-btn i {
    line-height: 100px;
}

.navigation a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
    color: var(--color1);
}

#toggle-btn {
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}

.dropbtn {
    background-color: #dadfe2;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #dfe3e6;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd
}

.show {
    display: block;
}


/*-- Responsive CSS --*/

@media screen and (max-width:767px) {
    .show-menu-btn,
    .hide-menu-btn {
        display: block;
    }
    .navigation {
        position: relative;
        width: 100%;
        height: 100vh;
        background: #ffffff;
        top: -100%;
        left: 0;
        padding: 50px 0px;
        transition: 1s;
    }
    .navigation li {
        width: 100%;
    }
    .navigation li a {
        padding: 15px 15px;
        text-align: left;
    }
    .navigation li a i {
        width: auto;
        font-size: 20px;
    }
    .hide-menu-btn {
        position: absolute;
        top: 15px;
        right: 20px;
    }
    #toggle-btn:checked~nav .navigation {
        top: 0px;
    }
}

.logo {
    width: 100%;
    height: auto;
    max-width: 52px;
}

/* slider animation starts  */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
.item-1,
.item-2,
.item-3,
.item-4 {
	position: absolute;
  display: block;
	top: 2em;

  width: 40%;


	animation-duration: 25s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.item-1{
	animation-name: anim-1;
}

.item-2{
	animation-name: anim-2;
}

.item-3{
	animation-name: anim-3;
}
.item-4{
	animation-name: anim-4;
}

@keyframes anim-1 {
	0%, 5% { left: -100%; opacity: 0; }
  8%,20% { left: 5%; opacity: 1; }
  25%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 25% { left: -100%; opacity: 0; }
  30%, 45% { left: 5%; opacity: 1; }
  50%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 50% { left: -100%; opacity: 0; }
  55%, 70% { left: 5%; opacity: 1; }
  75%,100% { left: 110%; opacity: 0; }
}
@keyframes anim-4 {
	0%, 75% { left: -100%; opacity: 0; }
  80%, 95% { left: 5%; opacity: 1; }
  100% { left: 110%; opacity: 0; }
}
.slider-content{
    position:relative;
    top:50%;
    left: -10%;
}
/* slider portion ends by Devkant */

/* Slider Starts Here */

.slider {

    background-size: contain;
    height: 100vh;
    width: 100%;
    position: relative;
    right:-17%;
    background-repeat: no-repeat;
	background-position:right;
	z-index:-2
}

.home {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.home .slide {
    height: 100vh;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    background-size: cover;
    background-position: right;
    z-index: 1;
    display: flex;
    animation: slide 2s ease;
}

.home .slide .active {
    display: flex;
}

@keyframes slide {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.containers {
    max-width: 1178px;
    margin: auto;
    flex-grow: 1;
    justify-content: left;
}

.home .caption {
    width: 50%;
}

.home .slide .caption .active h2 {
    display: flex;
}

.home .caption h2 {
    margin: 0;
    font-size: 35px;
    color: #333333;
    font-weight: 700;
    font-family: 'Montserrat-bold', 'sans-serif';
}

.home .caption p {
    margin: 0;
    color: #333333;
    font-size: 20px;
    font-family: 'Montserrat-medium', 'sans-serif';
}


/* Slider Ends Here  */


/* ---------------------------------------About Us Page Starts Here------------------------------------- */

.about-top {
    padding-top: 55px;
}


/* .about-top .row {
    margin-top: 55px;
    margin-left: 30px;
} */

.about-top .about-text {
    margin-top: 20vh;
    justify-content: center;
    align-items: center;
}

.about-top .about-text h3 {
    font-size: 50px;
    font-weight: 700;
}

.about-top .about-text p {
    font-size: 25px;
    font-weight: 500;
}

.about-top img {
    height: 90vh;
    width: 100%;
}

.about-background {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center top;
    z-index: -2;
}

.branch1 {
    right: -35vw;
    top: -136px;
    position: absolute;
    height: 50%;
    width: 80%;
    z-index: -1;
}

.about-background p {
    font-size: 25px;
    font-weight: 500;
}

.about-background h3 {
    font-size: 35px;
    font-weight: 600;
}

.about-vision {
    position: relative;
    top: 80px;
}

.about-vision h3 {
    font-size: 35px;
    font-weight: 600;
}

.about-vision p {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 500;
}

.about-vision img {
    position: absolute;
    top: 30vh;
    left: -47vw;
    height: 100%;
    width: 100%;
    transform: rotate(32deg);
}

.about-method h3 {
    font-size: 35px;
    font-weight: 600;
    margin-top: 20%;
}

.about-method ul {
    list-style-image: url('media/final-asset/star-1.svg');
    list-style-position: center;
}

.about-method p {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 500;
}

.about-tm {
    background-color: #e8edf7;
    position: relative;
    padding: 10px 20px;
}

.about-tm h3 {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
}

.about-tm h5 {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Montserrat-SemiBold', 'sans-serif';
}

.about-tm .img-lable {
    position: relative;
    top: 4.5%;
    left: 0;
    background-color: #699E3C;
    width: 40%;
    padding: 5px 15px;
    color: #fff;
    font-family: 'Montserrat-Bold', 'sans-serif';
    text-align: center;
    font-weight: 600;
    border-left: solid #699E3C 1px;
    box-shadow: 0px 0px 5px #699E3C;
}

#more {
    display: none;
}


/* Contact Us Page Starts Here */

.header-top {
    height: 50px;
    width: auto;
}

.header-top h3 {
    position: relative;
    text-align: center;
}

.color1 {
    color: #699E3C;
}

.header-top h3:after {
    align-self: center;
    display: block;
    content: '';
    width: 5%;
    height: 3px;
    background: var(--color1);
    position: absolute;
    bottom: 0;
    left: 36vw;
    border-radius: 1500px;
}

.contact-main {
    display: flex;
    height: auto;
    width: auto;
    margin-bottom: 100px;
}

.contact-main-left {
    height: auto;
    width: 50%;
    margin-right: 100px;
    margin-left: 150px;
}

.contact-main-right {
    height: auto;
    width: 50%;
    margin-right: 150px;
    box-shadow: 5px 3px 30px 2px #dbd6d6;
    background-color: #fff;
    margin-bottom: 100px;
}

.form-content input {
    width: 100%;
    height: auto;
    border: 1px solid #b4b0b0;
    box-sizing: border-box;
    /* box-shadow: inset 0 1px 1px 1px; */
}

.form-content textarea {
    width: 100%;
    height: auto;
    border: 1px solid #b4b0b0;
    box-sizing: border-box;
    /* box-shadow: inset 0 1px 1px 1px; */
}

.form-content select {
    width: 100%;
    height: auto;
    border: 1px solid #b4b0b0;
    box-sizing: border-box;
    /* box-shadow: inset 0 1px 1px 1px; */
}

.form-btn input {
    background-color: var(--color1);
    color: #fff;
    padding: 6px 37px;
}

.fill img {
    right: -35vw;
    top: 725px;
    position: absolute;
    height: 65%;
    width: 79%;
    z-index: -1;
}

.left2 {
    display: flex;
}

.left-content {
    margin-right: 90px;
}

.left-content h4:after {
    align-self: center;
    display: block;
    content: '';
    width: 3%;
    height: 4px;
    background: var(--color1);
    position: absolute;
    bottom: -9vh;
    left: 11vw;
    border-radius: 1500px;
}

.right-content h4:after {
    align-self: center;
    display: block;
    content: '';
    width: 3%;
    height: 4px;
    background: var(--color1);
    position: absolute;
    bottom: -9vh;
    left: 34vw;
    border-radius: 1500px;
}

.left-content p {
    margin: 0;
}

.right-content p {
    margin: 0;
}

.right-content div {
    display: flex;
}

.right-content img {
    height: 28px;
    width: 28px;
}

.left1 {
    margin-bottom: 46px;
}


/* Contact Us Page Starts Here */


/* Blog Page Starts Here */

.search-form {
    margin: 0 30vw;
}

.search-form input {
    width: 80%;
    border-radius: 9px;
    background-color: #F5F5F5;
}

.search-form button {
    color: #fff;
    background-color: #699E3C;
    border-radius: 6px;
}

.blog-main {
    width: auto;
    height: 100px;
    margin: 0 150px;
    display: flex;
}

.blog-content {
    width: 65%;
    height: 100px;
    margin-left: 2vw;
}

.blog-sidebar {
    width: 25%;
    height: 100px;
    margin-left: 5vw;
}

.box {
    border: 3px solid var(--color1);
    position: relative;
    height: 50vh;
    position: relative;
    margin-bottom: 200px;
}

.box-over {
    background-color: white;
    padding: 3px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 30px;
    left: 30px;
}

.box-over h4 {
    font-size: 30px;
}

.date-border {
    border: 3px solid var(--color1);
    position: relative;
    height: 50px;
    width: 5vw;
    position: relative;
}

.date-box {
    background-color: var(--color1);
    padding: 3px;
    width: 100%;
    height: 50px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.date {
    color: #fff;
    text-align: center;
}

.d-image {
    display: flex;
}

.d-image img {
    height: auto;
    width: 50%
}

.d-image p {
    font-size: 11px;
    top: 1px;
}

.second-box {
    border: 3px solid var(--color1);
    position: relative;
    height: 43vh;
    position: relative;
    margin-bottom: 200px;
}

.second-box-over {
    background-color: white;
    padding: 3px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -30px;
    left: -30px;
}

.second-box-over h4 {
    font-size: 30px;
}

.second-date-border {
    border: 1px solid var(--color1);
    height: 50px;
    width: 5vw;
    position: relative;
    margin-left: 2vw;
}

.second-date-box {
    background-color: var(--color1);
    padding: 3px;
    width: 100%;
    height: 50px;
    position: absolute;
    top: 8px;
    left: 8px;
}

.second-date {
    color: #fff;
    text-align: center;
}

.second-d-image {
    display: flex;
}

.second-d-image img {
    display: none;
}

.second-d-image p {
    padding-left: 54%;
    font-size: 20px;
}

.second-d-image p a {
    font-size: 20px;
    color: var(--color1);
}

.second-date {
    font-size: 30px;
}

.excerpt {
    line-height: 1em;
    height: 3em;
    overflow: hidden;
    padding-left: 8vw;
}

.title {
    padding-left: 8vw;
    font-size: 30px;
}

.first-post {
    margin-top: 7vh;
}

.first-box {
    border: 3px solid var(--color1);
    position: relative;
    height: 43vh;
    position: relative;
    margin-bottom: 200px;
}

.first-box-over {
    background-color: white;
    padding: 3px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -30px;
    left: -30px;
}

.first-box-over h4 {
    font-size: 30px;
}

.first-date-border {
    border: 1px solid var(--color1);
    height: 50px;
    width: 5vw;
    position: relative;
    margin-left: 2vw;
}

.first-date-box {
    background-color: var(--color1);
    padding: 3px;
    width: 100%;
    height: 50px;
    position: absolute;
    top: 8px;
    left: 8px;
}

.first-date {
    color: #fff;
    text-align: center;
}

.first-d-image {
    display: flex;
}

.first-d-image img {
    display: none;
    height: auto;
    width: 100%;
}

.first-d-image p {
    padding-left: 54%;
    font-size: 20px;
}

.first-d-image p a {
    font-size: 20px;
    color: var(--color1);
}

.first-date {
    font-size: 30px;
}

.excerpt {
    line-height: 1em;
    height: 3em;
    overflow: hidden;
    padding-left: 8vw;
}

.title {
    padding-left: 8vw;
    font-size: 30px;
}


/* Store Page Starts here */

.main-img {
    width: 100%;
    height: auto;
}

.main-img img {
    width: 100%;
    height: auto;
}

.search {
    margin: 0 30vw;
    background-color: #F5F5F5;
    border-radius: 20px;
}

.search input {
    width: 80%;
    border-style: none;
    background-color: #F5F5F5;
}

.search button {
    color: #fff;
    background-color: #699E3C;
    border-radius: 15px;
}

.bg-image {
    background-repeat: no-repeat;
    background-size: 100%;
    height: auto;
    width: 100vw;
}

.product h3 {
    text-align: center;
}

.prod-cards {
    display: flex;
    margin: 0 10vw;
}

.prod-card {
    margin-right: 36px;
    background-color: #fff;
}

.prod-card img {
    height: auto;
    width: 100%;
}

.prod-card p {
    text-align: center;
}

.prod-title {
    font-size: 22px;
}

.learn {
    color: var(--color1);
    font-size: 20px;
}

.price {
    color: #FF5A1A;
    font-size: 30px;
}


/* Store details page starts here */

.hyper-links {
    width: 40%;
    margin-right: 10vw;
}

.hyper-links p {
    z-index: 888;
    font-size: 25px;
    padding-left: 8vw;
    margin-top: -16vh;
}