.m-def {
    margin-top: 140px;
    margin-bottom: 140px;
}

.p-def {
    padding-top: 140px;
    padding-bottom: 140px;
}

.m-top {
    margin-top: 140px;
}

.m-bottom {
    margin-bottom: 140px;
}

.m-side {
    margin-left: 150px;
    margin-right: 150px;
}

.p-top {
    padding-top: 140px;
}

.p-bottom {
    padding-bottom: 140px;
}

.font1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.font2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.font3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.font4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

:root {
    --color1: #699E3C;
    --color2: #333333;
    --color3: #E8EDF7;
}

.form-content {
    margin: 44px 50px;
    display: flex;
    flex-direction: column;
}

.form-btn {
    margin: 44px 50px;
    align-content: center;
    text-align: center;
}

.section-head h3 {
    position: relative;
    text-align: center;
}

.section-head h3:after {
    content: '';
    display: block;
    width: 50px;
    height: 4px;
    background: var(--color1);
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 3px;
}

.section-head h3.small-line:after {
    width: 40px;
    background: #99a3b1;
}

.section-head h4 {
    position: relative;
    text-align: center;
}

.section-head h4:after {
    content: '';
    display: block;
    width: 50px;
    height: 4px;
    background: var(--color1);
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 3px;
}

.section-head h4.small-line:after {
    width: 40px;
    background: #99a3b1;
}

.branch2 {
    position: absolute;
    bottom: -51vh;
    left: -23vw;
    height: 29%;
    width: 50%;
    transform: rotate(37deg);
    z-index: 20;
}

.pre-tree1 {
    position: absolute;
    top: 11vh;
    width: 57vh;
    height: auto;
}

.pre-life-tree1 {
    position: absolute;
    top: 6vh;
    width: 65vh;
    height: auto;
    transform: rotateY(180deg);
    right: 0vw;
}

.pre-life-bird1 {
    position: absolute;
    top: 70vh;
    width: 17vh;
    height: auto;
    transform: rotateY(180deg);
    left: -5vw;
}

.pre-life-tree2 {
    position: absolute;
    top: -27vh;
    width: 70vh;
    height: auto;
    right: -14vw;
}

.pre-home-tree1{
    position: absolute;
    top: -21vh;
    width: 70vh;
    height: auto;
    left: 0vw;
}

.pre-home-tree2{
    position: absolute;
    top: -8vh;
    width: 54vh;
    height: auto;
    right: 0vw;
}

.pre-home-tree3{
    position: absolute;
    top: -8vh;
    width: 45vh;
    height: auto;
    right: -8vw;
}

.pre-home-bird1 {
    position: absolute;
    top: 6vh;
    width: 22vh;
    height: auto;
    right: -4vw;
}
