.m-def {
    margin-top: 140px;
    margin-bottom: 140px;
}

.p-def {
    padding-top: 140px;
    padding-bottom: 140px;
}

.m-top {
    margin-top: 140px;
}

.m-bottom {
    margin-bottom: 140px;
}

.m-side {
    margin-left: 150px;
    margin-right: 150px;
}

.p-top {
    padding-top: 140px;
}

.p-top {
    padding-bottom: 140px;
}

.font1 {
    font-family: 'Montserrat-Bold';
    font-weight: 700;
}

.font2 {
    font-family: 'Montserrat-SemiBold';
    font-weight: 600;
}

.font3 {
    font-family: 'Montserrat-Medium';
    font-weight: 500;
}

.font4 {
    font-family: 'Montserrat-Medium';
    font-weight: 400;
}

:root {
    --color1: #699E3C;
    --color2: #333333;
    --color3: #E8EDF7;
}

.form-content {
    margin: 44px 50px;
    display: flex;
    flex-direction: column;
}

.form-btn {
    margin: 44px 50px;
    align-content: center;
    text-align: center;
}

.section-head h3 {
    position: relative;
    text-align: center;
}

.section-head h3:after {
    content: '';
    display: block;
    width: 50px;
    height: 4px;
    background: var(--color1);
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 3px;
}

.section-head h3.small-line:after {
    width: 40px;
    background: #99a3b1;
}

.section-head h4 {
    position: relative;
    text-align: center;
}

.section-head h4:after {
    content: '';
    display: block;
    width: 50px;
    height: 4px;
    background: var(--color1);
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 3px;
}

.section-head h4.small-line:after {
    width: 40px;
    background: #99a3b1;
}

.branch2 {
    position: absolute;
    bottom: -51vh;
    left: -23vw;
    height: 29%;
    width: 50%;
    transform: rotate(37deg);
    z-index: -20;
}

.m-pre {
    margin-right: 140px;
    margin-left: 290px;
}